<div
  [ngClass]="{
    'theme-default': selectedTheme.theme === 'default',
    'theme-1': selectedTheme.theme === '1',
    'theme-2': selectedTheme.theme === '2'
  }"
>
  <ng-template #centerContent>
    <app-rendrer
      [data]="
        activeProject.result
          ? activeProject.result
            ? activeProject.result.result
            : [[]]
          : [[]]
      "
      [isLoading]="isGenResult"
      [renderMode]="renderMode"
      #renderer
    >
      <div class="suit-section">
        <div
          style="flex: 1; flex-direction: row; display: flex; justify-content: flex-start;"
        >
          <app-button
            [color]="'white'"
            [type]="'round'"
            (clicked)="renderer.resetZoom()"
          >
            <i class="fas fa-redo-alt"></i>
          </app-button>
          <div
            [ngClass]="{
              'color-toggle': true,
              show: showColorToggle,
              hide: !showColorToggle
            }"
          >
            <app-button
              [color]="'white'"
              [bgcolor]="'#828282'"
              [type]="'round'"
              (clicked)="showColorToggle = !showColorToggle"
              style="position:absolute; left: -20px;"
              t
            >
              <i class="fas fa-edit"></i>
            </app-button>
            <div class="color-picker" style="padding-left: 16px;">
              <button
                *ngFor="let itemColor of bgColors; let index = index"
                [ngStyle]="{ 'background-color': itemColor.color }"
                [ngClass]="{
                  color: true,
                  selectedColor: itemColor.theme === selectedTheme.theme
                }"
                (click)="changeTheme(itemColor)"
              ></button>
            </div>
          </div>
        </div>
        <app-button
          [type]="'rounded'"
          [bgcolor]="btnActive.nodal"
          (clicked)="toogleRenderMode('nodal')"
        >
          <span style="font-size: 13px">Nodal Layout</span>
        </app-button>
        <app-button
          [type]="'rounded'"
          [bgcolor]="btnActive.plant"
          (clicked)="toogleRenderMode('plant')"
        >
          <span style="font-size: 13px;">Plant Layout</span>
        </app-button>
      </div>
    </app-rendrer>
  </ng-template>

  <ng-template #leftContent>
    <div
      style="margin-top: 20px;margin-bottom: 20px;padding-left: 30px;font-size: 24px; font-weight: bold;
  color: #a80044;"
    >
      FlayDe
    </div>
    <div
      style="width: 100%; padding-top: 30px; padding-bottom: 30px; display: flex; flex-direction: row; justify-content: space-around;"
    >
      <app-button (clicked)="toggleRightPane(layout)" type="round">
        <i #contentTest class="fas fa-bars"></i>
      </app-button>
      <app-button (clicked)="toggleRightPane(layout)" type="round"
        ><i class="fas fa-print"></i>
      </app-button>
      <app-button (clicked)="toggleRightPane(layout)" type="round"
        ><i class="far fa-question-circle"></i
      ></app-button>
    </div>

    <div class="pane-section">
      <div style="width: 83%; padding-top: 30px; padding-bottom: 10px;">
        <app-button
          bgcolor="#D9D9D9"
          type="fill"
          (clicked)="showAddLayoutProject()"
        >
          <div class="add-project">
            <span>Add New Layout</span>
            <span><i class="fas fa-plus"></i></span>
          </div>
        </app-button>
      </div>
    </div>
    <div class="pane-section">
      <div style="width: 83%; padding-top: 30px; padding-bottom: 10px;">
        <app-button bgcolor="#D9D9D9" type="fill" (clicked)="toogleCollapse()">
          <div class="add-project">
            <span>Recent Projects</span>
            <span class="fas fa-angle-up"></span>
          </div>
        </app-button>
        <div [ngClass]="collapsableClass">
          <app-list [renderData]="projects">
            <div class="header"></div>
            <ng-template let-item>
              <div class="project-item">
                <img
                  [src]="
                    item.id === activeProject.id
                      ? '../assets/icons/projectIcon.png'
                      : '../assets/icons/inactiveProjectIcon.png'
                  "
                />
                <app-button
                  bgcolor="transparent"
                  type="flat"
                  (clicked)="loadSelectedProject(item)"
                >
                  <span style="color: black;">{{
                    item.name.length > 11
                      ? item.name.slice(0, 12) + " .."
                      : item.name
                  }}</span>
                </app-button>
                <div (click)="deleteProject(item)" class="delete-btn">
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </ng-template>
          </app-list>
        </div>
      </div>
    </div>
    <div class="pane-section">
      <div style="width: 90%;padding-top: 30px; padding-bottom: 10px;">
        <span style="font-weight: bold; font-size: 14px;margin-bottom: 16px;"
          >Opened projects</span
        >
        <app-card
          *ngFor="let openedProject of opendProjects"
          [active]="openedProject.id === activeProject.id"
          (clicked)="selectProject(openedProject, openedProject.id)"
        >
          <div class="project-wrapper">
            <span>{{ openedProject.name }}</span
            ><br />
            <div>
              <div class="details">
                {{ openedProject.description }}
              </div>
              <div>
                <img src="../assets/icons/play.svg" />
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </ng-template>

  <ng-template #rightContent>
    <div class="v-space"></div>
    <div class="v-space"></div>

    <app-list [renderData]="activeProject.departments">
      <div class="header">
        <div class="list-header">
          <span style="display: flex; flex-direction: row"
            >Departments &nbsp;
            <div
              [ngClass]="{
                'badge-2':
                  activeProject.departments &&
                  activeProject.departments.length != 0
              }"
            >
              {{
                activeProject.departments &&
                activeProject.departments.length != 0
                  ? activeProject.departments.length
                  : ""
              }}
            </div>
          </span>
          <app-button
            type="flat round"
            bgcolor="transparent"
            (clicked)="showAddLayoutDepartment()"
          >
            <i class="fas fa-plus"></i>
          </app-button>
        </div>
      </div>
      <ng-template let-item>
        <div class="list-item">
          <div style="display: flex; flex-direction:row;">
            <app-button type="flat" bgcolor="transparent" color="black">
              <span
                style="font-size: 13px;margin-right: 11px; background-color: #ddd; padding: 10px; padding-top: 6px; padding-bottom: 6px ;border-radius: 30px; transform: scale(0.7);"
              >
                <b>{{ item.index }}</b>
              </span>
              {{ item.name }}
            </app-button>

            <div
              (click)="deleteDept($event, item)"
              class="delete-btn"
              style="transform: scale(0.86);"
            >
              <i class="far fa-trash-alt"></i>
            </div>
          </div>

          <div class="dot" [ngStyle]="{ 'background-color': item.color }"></div>
        </div>
      </ng-template>
    </app-list>

    <div class="v-space"></div>

    <app-list [renderData]="activeProject.inputConfigs">
      <div class="header">
        <div class="list-header">
          <span>Departmental Relationships</span>
          <app-button
            type="flat round"
            bgcolor="transparent"
            (clicked)="showAddInputConfig()"
          >
            <i class="fas fa-plus"></i>
          </app-button>
        </div>
      </div>
      <ng-template let-item
        ><div class="list-item">
          <app-button
            (clicked)="selectRelationships(item)"
            type="flat"
            bgcolor="transparent"
            color="black"
          >
            <i
              *ngIf="activeProject.activeInputConfig.id === item.id"
              style="font-size: 10px; color: #a80044;"
              class="fas fa-check"
            ></i>
            &nbsp; {{ item.name }}</app-button
          >
          <div style="transform: scale(0.8)">
            <app-button
              type="round flat"
              bgcolor="transparent"
              color="rgba(0,0,0,0.54)"
              (clicked)="editRelationships(item)"
            >
              <i class="fas fa-pen"></i>
            </app-button>
          </div>
        </div>
      </ng-template>
    </app-list>

    <div class="v-space"></div>

    <app-list [renderData]="legend" [isCollapsed]="weightCollapsed">
      <div
        (click)="weightCollapsed = !weightCollapsed"
        class="header"
        style="cursor: pointer;"
      >
        <div class="list-header">
          <span>
            Weight Legend &nbsp;&nbsp;&nbsp;<span
              class="fas fa-angle-down"
              style="margin-top: 5px;"
            >
            </span>
          </span>
        </div>
      </div>
      <ng-template let-item>
        <div class="list-item">
          <div
            style="display: flex; flex-direction: row;justify-content: space-between;width: 100%; padding: 5px;"
          >
            <span>
              <b>
                <small>{{ item.code }}</small>
              </b>
              &nbsp;&nbsp;{{ item.priority }}
            </span>
            <div class="badge-3">
              {{ item.value }}
            </div>
          </div>
        </div>
      </ng-template>
    </app-list>
    <div class="v-space"></div>
    <div class="v-space"></div>
    <div
      style="width: 100%; display: flex; justify-content: center; align-items: center;"
    >
      <app-button
        *ngIf="activeProject.id"
        type="rounded"
        (clicked)="generateLayoutMatrix()"
        >Generate</app-button
      >
    </div>
  </ng-template>

  <ng-template #addLayout>
    <div style="width: 60%;">
      <app-input-field
        [text]="newProject.name"
        (changeText)="onTextChanged($event, 'project')"
        [message]="newProjectInputFieldMsg"
        [placeholder]="'Project alias'"
        (enterPressed)="createNewProject()"
      ></app-input-field>
      <br /><br />
      <app-list [renderData]="projectTypes">
        <div class="header"><b>Layout Type</b><br /></div>
        <ng-template let-item>
          <div class="radio-item" (click)="onSelectLayoutType(item)">
            <i
              [ngClass]="{
                far: true,
                'fa-dot-circle': newProject.layoutType === item,
                'fa-circle': newProject.layoutType !== item
              }"
            ></i>
            &nbsp;&nbsp;{{ item }}
          </div>
        </ng-template>
      </app-list>
    </div>
  </ng-template>

  <ng-template #addDepartment>
    <div style="width: 60%;">
      <app-input-field
        [text]="deptAlias"
        placeholder="Department alias"
        (changeText)="onTextChanged($event, 'dept')"
        [message]="newDeptInputFieldMsg"
        (enterPressed)="addDeptToProject(activeProject, activeProject.id)"
      ></app-input-field>
    </div>

    <br />
    <span [ngStyle]="{ 'font-weight': 'bold' }">Department Dimensions</span>
    <div class="departemnt-dim">
      <div class="input-stack">
        <app-input-field
          (changeText)="onEnterDim($event, 'w')"
          [placeholder]="'width'"
          [text]="modelDim.width"
          type="number"
        ></app-input-field>
        <div class="v-space"></div>
        <app-input-field
          (changeText)="onEnterDim($event, 'h')"
          [placeholder]="'height'"
          [text]="modelDim.height"
          type="number"
        ></app-input-field>
        <div class="v-space"></div>
        <app-input-field
          (changeText)="onEnterDim($event, 'a')"
          [placeholder]="'area'"
          [text]="modelDim.area"
          type="number"
        ></app-input-field>
      </div>
      <div class="box-model">
        <span style="position: relative; left: 90px"
          >{{ modelDim.width }} m</span
        >
        <div [ngStyle]="{ 'background-color': selectedColor.color }">
          {{ modelDim.area }} m<sup>2</sup>
        </div>
        <span style="position: relative; top: -60px; left: -40px;;"
          >{{ modelDim.height }} m</span
        >
      </div>
    </div>
    <div class="v-space"></div>
    <span
      style="font-size: 16px; font-weight: bold; margin-bottom: 15px; margin-left: 20px;"
      >Select color:</span
    >
    <div style="margin: 10px"></div>
    <div class="color-picker">
      <button
        (click)="onSelectColor(itemColor)"
        *ngFor="let itemColor of colorList"
        [ngStyle]="{ 'background-color': itemColor.color }"
        [class]="
          'color  ' + (itemColor.id === selectedColor.id ? 'selectedColor' : '')
        "
      ></button>
    </div>
    <br /><br /><br /><br />
  </ng-template>

  <ng-template #addInputConfig>
    <div style="width: 60%;">
      <app-input-field
        [text]="inputAlias"
        placeholder="Weight Input alias"
        (changeText)="onTextChanged($event, 'relationship')"
        [message]="newRelationshipInputFieldMsg"
        (enterPressed)="addRelationshipsToProject()"
      ></app-input-field>
    </div>
    <br />
    <div
      (click)="setSelectedInputWeight(null, { pos: { i: 1, j: 0 } })"
      class="matrix-container"
    >
      <div class="header row">
        <div class="col"><div class="chip header"></div></div>
        <div *ngFor="let headerCol of weightMatrix" class="col">
          <div class="chip header">{{ headerCol.index }}</div>
        </div>
      </div>

      <div *ngFor="let rowValue of weightMatrix" class="row">
        <div class="col">
          <div class="chip header">{{ rowValue.index }}</div>
        </div>
        <div *ngFor="let colValue of rowValue.rowData" class="col">
          <div
            (click)="setSelectedInputWeight($event, colValue)"
            [ngClass]="{
              chip: true,
              dark: colValue.pos.i === colValue.pos.j,
              notting: colValue.pos.i > colValue.pos.j,
              active: selectedInputWeightObj.id === colValue.id
            }"
          >
            {{ colValue.value }}
          </div>
          <div *ngIf="selectedInputWeightObj.id === colValue.id">
            <app-button
              *ngFor="let select of [-1, 0, 1, 2, 3, 4]"
              [bgcolor]="'transparent'"
              [type]="'flat'"
              (clicked)="selectWeightValue(select, colValue.id)"
              color="black"
            >
              {{ select }}
            </app-button>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </ng-template>

  <ng-template #editInputConfig>
    <div style="width: 60%;">
      <app-input-field
        [text]="editSelectedRelationship.name"
        placeholder="Relationship alias/name"
        (changeText)="onTextChanged($event, 'e-relationship')"
        [message]=""
        (enterPressed)="toggleModal()"
      ></app-input-field>
    </div>
    <br />
    <div
      (click)="setSelectedInputWeight(null, { pos: { i: 1, j: 0 } })"
      class="matrix-container"
    >
      <div class="header row">
        <div class="col"><div class="chip header"></div></div>
        <div
          *ngFor="let headerCol of editSelectedRelationship.matrix"
          class="col"
        >
          <div class="chip header">{{ headerCol.index }}</div>
        </div>
      </div>

      <div *ngFor="let rowValue of editSelectedRelationship.matrix" class="row">
        <div class="col">
          <div class="chip header">{{ rowValue.index }}</div>
        </div>
        <div *ngFor="let colValue of rowValue.rowData" class="col">
          <div
            (click)="setSelectedInputWeight($event, colValue)"
            [ngClass]="{
              chip: true,
              dark: colValue.pos.i === colValue.pos.j,
              notting: colValue.pos.i > colValue.pos.j,
              active: selectedInputWeightObj.id === colValue.id
            }"
          >
            {{ colValue.value }}
          </div>
          <div *ngIf="selectedInputWeightObj.id === colValue.id">
            <app-button
              *ngFor="let select of [-1, 0, 1, 2, 3, 4]"
              [bgcolor]="'transparent'"
              [type]="'flat'"
              (clicked)="selectWeightValue(select, colValue.id, true)"
              color="black"
            >
              {{ select }}
            </app-button>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </ng-template>

  <ng-template #register>
    <div style="width: 70%">
      <app-input-field
        [text]="auth.username"
        [type]="'text'"
        placeholder="Username"
        (changeText)="onTextChanged($event, 'user')"
      ></app-input-field>
      <br />
      <app-input-field
        [text]="auth.email"
        [type]="'text'"
        placeholder="Email"
        (changeText)="onTextChanged($event, 'email')"
      ></app-input-field>
      <br />
      <app-input-field
        [text]="auth.password"
        type="password"
        placeholder="Password"
        (changeText)="onTextChanged($event, 'password')"
      ></app-input-field
      ><br />
      <app-input-field
        [text]="auth.cpassword"
        type="password"
        placeholder="Confirm password"
        (changeText)="onTextChanged($event, 'cpassword')"
      ></app-input-field>
      <br />
      <span style="color: red; font-size: 15px; font-weight: bold;">{{
        regMsg
      }}</span>
      <br /><br />
      <a class="link" href="javascript:void(0)" (click)="showLoginFromSignUp()">
        <b>Have an account? Proceed to Login Here.</b>
      </a>
    </div>
  </ng-template>

  <ng-template #login>
    <div *ngIf="!currentUser.email" style="width: 70%">
      <app-input-field
        [text]="signIn.email"
        [type]="'text'"
        placeholder="Email"
        (changeText)="onTextChanged($event, 'semail')"
      ></app-input-field>
      <br />
      <app-input-field
        [text]="signIn.password"
        type="password"
        placeholder="Password"
        (changeText)="onTextChanged($event, 'spassword')"
      ></app-input-field
      ><br />
      <span style="color: red; font-size: 15px; font-weight: bold;">{{
        signInMsg
      }}</span>
      <br /><br />
      <a class="link" href="javascript:void(0)" (click)="showRegFromSignIn()">
        <b>Don't have an account Sign Up Here.</b>
      </a>
    </div>
    <div *ngIf="currentUser.email">
      <span style="font-size: 23px;"> {{ currentUser.email }} </span
      ><br /><br />
      <app-button
        (click)="logoutUser()"
        [type]="'flat'"
        [color]="'#a80044'"
        [bgcolor]="'transparent'"
        ><span style="font-size: 15px;">Sign out</span></app-button
      >
    </div>
  </ng-template>

  <ng-template #alert>
    <span></span>
    <div
      style="width: 100%; display: flex; flex-direction: row;justify-content: space-between; padding-left: 20px; padding-right: 20ppx;"
    >
      <app-button>No</app-button>
      <app-button>Yes</app-button>
    </div>
  </ng-template>

  <app-splash
    [shouldShow]="showSplash"
    [slashText]="'Fetching data please wait ...'"
  ></app-splash>

  <app-modal
    [headerText]="modalHeaderTitle"
    #modal
    [allowBackLayClick]="
      modalContent !== 'register' && modalContent !== 'login'
    "
    [isLoading]="isLoading"
  >
    <div class="close-btn">
      <app-button
        type="flat"
        bgcolor="transparent"
        color="#a80044"
        (clicked)="toggleModal()"
        ><i class="fas fa-times"></i
      ></app-button>
    </div>
    <div class="content">
      <ng-container [ngSwitch]="modalContent">
        <ng-container *ngSwitchCase="'layout'">
          <ng-container *ngTemplateOutlet="addLayout"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'department'">
          <ng-container *ngTemplateOutlet="addDepartment"> </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'inputConfig'">
          <ng-container *ngTemplateOutlet="addInputConfig"> </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'e-inputConfig'">
          <ng-container *ngTemplateOutlet="editInputConfig"> </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'register'">
          <ng-container *ngTemplateOutlet="register"> </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'login'">
          <ng-container *ngTemplateOutlet="login"> </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'alert'">
          <ng-container *ngTemplateOutlet="alert"> </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div
            style="display:flex; justify-content:center; align-items:center; width: 100%; "
          >
            no content here
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="v-space"></div>
    <div class="footer">
      <app-button
        *ngIf="!(modalContent === 'login' && currentUser.email)"
        type="rounded"
        (clicked)="
          modalContent === 'layout'
            ? createNewProject()
            : modalContent === 'department'
            ? addDeptToProject(activeProject, activeProject.id)
            : modalContent === 'inputConfig'
            ? addRelationshipsToProject(activeProject.id)
            : modalContent === 'e-inputConfig'
            ? onEditInputConfig()
            : modalContent === 'register'
            ? registerUser()
            : modalContent === 'login'
            ? loginUser()
            : null
        "
        >{{
          modalContent === "e-inputConfig"
            ? "Edit"
            : modalContent === "login"
            ? "Sign In"
            : modalContent === "register"
            ? "Sign Up"
            : "Create"
        }}</app-button
      >
    </div>
  </app-modal>
  <app-toast #toast [text]="toastMessage"></app-toast>
  <app-top-toast #topToast>
    <ng-container>
      <div align="left">
        <span><b>Sign Up</b></span>
        <br />
        <span style="margin-top: 30px">
          Unable to save project because you are yet sign in. You can
          <i><b>sign in or up</b></i> in order to save and initate project
          optimization</span
        >
        <br /><br />
        <div style="display:flex; flex-direction: row;">
          <app-button type="rounded" color="'white'" (clicked)="showLogin()">
            <span style="font-size: 13px">sign in</span>
          </app-button>
          <div>&nbsp;&nbsp;&nbsp;</div>
          <app-button
            (click)="showRegister()"
            type="rounded"
            [bgcolor]="'white'"
            color="red"
          >
            <span style="font-size: 13px">sign up</span>
          </app-button>
        </div>
      </div>
    </ng-container>
  </app-top-toast>
  <app-layout
    #layout
    [activeProject]="activeProject"
    (statusClicked)="statusClicked()"
    [user]="currentUser.email ? currentUser.email[0].toUpperCase() : ''"
  >
    <div style="width: 100%; height: 100%" class="center">
      <ng-container *ngTemplateOutlet="centerContent"></ng-container>
    </div>
    <div class="left" style="width: 100%;">
      <ng-container *ngTemplateOutlet="leftContent"></ng-container>
    </div>
    <div class="right">
      <ng-container *ngTemplateOutlet="rightContent"></ng-container>
    </div>
  </app-layout>

  <router-outlet></router-outlet>
</div>
