<ng-template #centerContent>
  <ng-container>
    kadjfkjdf sf dsf sdf sd fds
  </ng-container>
</ng-template>

<ng-template #leftContent>
  <div
    style="margin-top: 20px;margin-bottom: 20px;padding-left: 30px;font-size: 24px; font-weight: bold;
  color: #a80044;"
  >
    FlayDe
  </div>
  <div
    style="width: 100%; padding-top: 30px; padding-bottom: 30px; display: flex; flex-direction: row; justify-content: space-around;"
  >
    <app-button (clicked)="toggleRightPane(layout)" type="round">
      <i #contentTest class="fas fa-bars"></i>
    </app-button>
    <app-button (clicked)="toggleRightPane(layout)" type="round"
      ><i class="fas fa-print"></i>
    </app-button>
    <app-button (clicked)="toggleRightPane(layout)" type="round"
      ><i class="far fa-question-circle"></i
    ></app-button>
  </div>

  <div class="pane-section">
    <div style="width: 83%; padding-top: 30px; padding-bottom: 10px;">
      <app-button
        bgcolor="#D9D9D9"
        type="fill"
        (clicked)="showAddLayoutProject()"
      >
        <div class="add-project">
          <span>Add New Layout</span>
          <span><i class="fas fa-plus"></i></span>
        </div>
      </app-button>
    </div>
  </div>
  <div class="pane-section">
    <div style="width: 83%; padding-top: 30px; padding-bottom: 10px;">
      <app-button bgcolor="#D9D9D9" type="fill" (clicked)="toogleCollapse()">
        <div class="add-project">
          <span>Recent Projects</span>
          <span class="fas fa-angle-up"></span>
        </div>
      </app-button>
      <div [ngClass]="collapsableClass">
        <app-list [renderData]="projects">
          <div class="header"></div>
          <ng-template let-item>
            <div>
              <img
                [src]="
                  item.id === activeProject.id
                    ? '../assets/icons/projectIcon.png'
                    : '../assets/icons/inactiveProjectIcon.png'
                "
              />
              <app-button
                bgcolor="transparent"
                type="flat"
                (clicked)="loadSelectedProject(item)"
              >
                <span style="color: black;">{{ item.name }}</span>
              </app-button>
            </div>
          </ng-template>
        </app-list>
      </div>
    </div>
  </div>
  <div class="pane-section">
    <div style="width: 90%;padding-top: 30px; padding-bottom: 10px;">
      <span style="font-weight: bold; font-size: 14px;margin-bottom: 16px;"
        >Opened projects</span
      >
      <app-card
        *ngFor="let openedProject of opendProjects"
        [active]="openedProject.id === activeProject.id"
        (clicked)="selectProject(openedProject, openedProject.id)"
      >
        <div class="project-wrapper">
          <span>{{ openedProject.name }}</span
          ><br />
          <div>
            <div class="details">
              {{ openedProject.description }}
            </div>
            <div>
              <img src="../assets/icons/play.svg" />
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</ng-template>

<ng-template #rightContent>
  <div class="v-space"></div>
  <div class="v-space"></div>

  <app-list [renderData]="activeProject.departments">
    <div class="header">
      <div class="list-header">
        <span style="display: flex; flex-direction: row"
          >Departments &nbsp;
          <div
            [ngClass]="{
              'badge-2':
                activeProject.numberOfDept && activeProject.numberOfDept != 0
            }"
          >
            {{
              activeProject.numberOfDept && activeProject.numberOfDept != 0
                ? activeProject.numberOfDept
                : ""
            }}
          </div>
        </span>
        <app-button
          type="flat round"
          bgcolor="transparent"
          (clicked)="showAddLayoutDepartment()"
        >
          <i class="fas fa-plus"></i>
        </app-button>
      </div>
    </div>
    <ng-template let-item
      ><div class="list-item">
        <app-button type="flat" bgcolor="transparent" color="black">{{
          item.name
        }}</app-button>
        <div class="dot" [ngStyle]="{ 'background-color': item.color }"></div>
      </div>
    </ng-template>
  </app-list>

  <div class="v-space"></div>

  <app-list [renderData]="activeProject.inputConfigs">
    <div class="header">
      <div class="list-header">
        <span>Input config</span>
        <app-button
          type="flat round"
          bgcolor="transparent"
          (clicked)="showAddInputConfig()"
        >
          <i class="fas fa-plus"></i>
        </app-button>
      </div>
    </div>
    <ng-template let-item
      ><div class="list-item">
        <app-button
          (clicked)="selectRelationships(item)"
          type="flat"
          bgcolor="transparent"
          color="black"
        >
          <i
            *ngIf="activeProject.activeInputConfig.id === item.id"
            style="font-size: 10px; color: #a80044;"
            class="fas fa-check"
          ></i>
          &nbsp; {{ item.name }}</app-button
        >
        <div style="transform: scale(0.8)">
          <app-button
            type="round flat"
            bgcolor="transparent"
            color="rgba(0,0,0,0.54)"
            (clicked)="editRelationships(item)"
          >
            <i class="fas fa-pen"></i>
          </app-button>
        </div>
      </div>
    </ng-template>
  </app-list>

  <div class="v-space"></div>

  <app-list [renderData]="legend">
    <div class="header">
      <div class="list-header">
        <span>Weight Legend</span>
        <!-- <app-button type="flat round" bgcolor="transparent">
          <i class="fas fa-plus"></i>
        </app-button> -->
      </div>
    </div>
    <ng-template let-item>
      <div class="list-item">
        <div
          style="display: flex; flex-direction: row;justify-content: space-between;width: 100%; padding: 5px;"
        >
          <span>
            <b>
              <small>{{ item.code }}</small>
            </b>
            &nbsp;&nbsp;{{ item.priority }}
          </span>
          <div class="badge-3">
            {{ item.value }}
          </div>
        </div>
      </div>
    </ng-template>
  </app-list>
  <div class="v-space"></div>
  <div class="v-space"></div>
  <div
    style="width: 100%; display: flex; justify-content: center; align-items: center;"
  >
    <app-button type="rounded">Generate</app-button>
  </div>
</ng-template>

<ng-template #addLayout>
  <div style="width: 60%;">
    <app-input-field
      [text]="newProject.name"
      (changeText)="onTextChanged($event, 'project')"
      [message]="newProjectInputFieldMsg"
      [placeholder]="'Project alias'"
      (enterPressed)="createNewProject()"
    ></app-input-field>
  </div>
</ng-template>

<ng-template #addDepartment>
  <div style="width: 60%;">
    <app-input-field
      [text]="deptAlias"
      placeholder="Department alias"
      (changeText)="onTextChanged($event, 'dept')"
      [message]="newDeptInputFieldMsg"
      (enterPressed)="addDeptToProject(activeProject, activeProject.id)"
    ></app-input-field>
  </div>

  <br />
  <span [ngStyle]="{ 'font-weight': 'bold' }">Department Dimensions</span>
  <div class="departemnt-dim">
    <div class="input-stack">
      <app-input-field
        (changeText)="onEnterDim($event, 'w')"
        [placeholder]="'width'"
        [text]="modelDim.width"
        type="number"
      ></app-input-field>
      <div class="v-space"></div>
      <app-input-field
        (changeText)="onEnterDim($event, 'h')"
        [placeholder]="'height'"
        [text]="modelDim.height"
        type="number"
      ></app-input-field>
      <div class="v-space"></div>
      <app-input-field
        (changeText)="onEnterDim($event, 'a')"
        [placeholder]="'area'"
        [text]="modelDim.area"
        type="number"
      ></app-input-field>
    </div>
    <div class="box-model">
      <span style="position: relative; left: 90px">{{ modelDim.width }} m</span>
      <div [ngStyle]="{ 'background-color': selectedColor.color }">
        {{ modelDim.area }} m<sup>2</sup>
      </div>
      <span style="position: relative; top: -60px; left: -40px;;"
        >{{ modelDim.height }} m</span
      >
    </div>
  </div>
  <div class="v-space"></div>
  <span
    style="font-size: 16px; font-weight: bold; margin-bottom: 15px; margin-left: 20px;"
    >Select color:</span
  >
  <div style="margin: 10px"></div>
  <div class="color-picker">
    <button
      (click)="onSelectColor(itemColor)"
      *ngFor="let itemColor of colorList"
      [ngStyle]="{ 'background-color': itemColor.color }"
      [class]="
        'color  ' + (itemColor.id === selectedColor.id ? 'selectedColor' : '')
      "
    ></button>
  </div>
  <br /><br /><br /><br />
</ng-template>

<ng-template #addInputConfig>
  <div style="width: 60%;">
    <app-input-field
      [text]="inputAlias"
      placeholder="Weight Input alias"
      (changeText)="onTextChanged($event, 'relationship')"
      [message]="newRelationshipInputFieldMsg"
      (enterPressed)="addRelationshipsToProject()"
    ></app-input-field>
  </div>
  <br />
  <div
    (click)="setSelectedInputWeight(null, { pos: { i: 1, j: 0 } })"
    class="matrix-container"
  >
    <div class="header row">
      <div class="col"><div class="chip header"></div></div>
      <div *ngFor="let headerCol of weightMatrix" class="col">
        <div class="chip header">{{ headerCol.departmentId }}</div>
      </div>
    </div>

    <div *ngFor="let rowValue of weightMatrix" class="row">
      <div class="col">
        <div class="chip header">{{ rowValue.departmentId }}</div>
      </div>
      <div *ngFor="let colValue of rowValue.rowData" class="col">
        <div
          (click)="setSelectedInputWeight($event, colValue)"
          [ngClass]="{
            chip: true,
            dark: colValue.pos.i === colValue.pos.j,
            notting: colValue.pos.i > colValue.pos.j,
            active: selectedInputWeightObj.id === colValue.id
          }"
        >
          {{ colValue.value }}
        </div>
        <div *ngIf="selectedInputWeightObj.id === colValue.id">
          <app-button
            *ngFor="let select of [-1, 0, 1, 2, 3, 4]"
            [bgcolor]="'transparent'"
            [type]="'flat'"
            (clicked)="selectWeightValue(select, colValue.id)"
            color="black"
          >
            {{ select }}
          </app-button>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</ng-template>

<ng-template #editInputConfig>
  <div style="width: 60%;">
    <app-input-field
      [text]="editSelectedRelationship.name"
      placeholder="Relationship alias/name"
      (changeText)="onTextChanged($event, 'e-relationship')"
      [message]=""
      (enterPressed)="toggleModal()"
    ></app-input-field>
  </div>
  <br />
  <div
    (click)="setSelectedInputWeight(null, { pos: { i: 1, j: 0 } })"
    class="matrix-container"
  >
    <div class="header row">
      <div class="col"><div class="chip header"></div></div>
      <div
        *ngFor="let headerCol of editSelectedRelationship.matrix"
        class="col"
      >
        <div class="chip header">{{ headerCol.departmentId }}</div>
      </div>
    </div>

    <div *ngFor="let rowValue of editSelectedRelationship.matrix" class="row">
      <div class="col">
        <div class="chip header">{{ rowValue.departmentId }}</div>
      </div>
      <div *ngFor="let colValue of rowValue.rowData" class="col">
        <div
          (click)="setSelectedInputWeight($event, colValue)"
          [ngClass]="{
            chip: true,
            dark: colValue.pos.i === colValue.pos.j,
            notting: colValue.pos.i > colValue.pos.j,
            active: selectedInputWeightObj.id === colValue.id
          }"
        >
          {{ colValue.value }}
        </div>
        <div *ngIf="selectedInputWeightObj.id === colValue.id">
          <app-button
            *ngFor="let select of [-1, 0, 1, 2, 3, 4]"
            [bgcolor]="'transparent'"
            [type]="'flat'"
            (clicked)="selectWeightValue(select, colValue.id, true)"
            color="black"
          >
            {{ select }}
          </app-button>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</ng-template>

<app-modal [headerText]="modalHeaderTitle" #modal [allowBackLayClick]="true">
  <div class="close-btn">
    <app-button
      type="flat"
      bgcolor="transparent"
      color="#a80044"
      (clicked)="toggleModal()"
      ><i class="fas fa-times"></i
    ></app-button>
  </div>
  <div class="content">
    <ng-container [ngSwitch]="modalContent">
      <ng-container *ngSwitchCase="'layout'">
        <ng-container *ngTemplateOutlet="addLayout"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'department'">
        <ng-container *ngTemplateOutlet="addDepartment"> </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'inputConfig'">
        <ng-container *ngTemplateOutlet="addInputConfig"> </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'e-inputConfig'">
        <ng-container *ngTemplateOutlet="editInputConfig"> </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div
          style="display:flex; justify-content:center; align-items:center; width: 100%; "
        >
          no content here
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="v-space"></div>
  <div class="footer">
    <app-button
      type="rounded"
      (clicked)="
        modalContent === 'layout'
          ? createNewProject()
          : modalContent === 'department'
          ? addDeptToProject(activeProject, activeProject.id)
          : modalContent === 'inputConfig'
          ? addRelationshipsToProject(activeProject.id)
          : modalContent === 'e-inputConfig'
          ? toggleModal()
          : null
      "
      >{{ modalContent === "e-inputConfig" ? "Edit" : "Create" }}</app-button
    >
  </div>
</app-modal>
<app-toast #toast [text]="toastMessage"></app-toast>

<app-layout #layout [activeProject]="activeProject">
  <div class="center">
    <ng-container *ngTemplateOutlet="centerContent"></ng-container>
  </div>
  <div class="left" style="width: 100%;">
    <ng-container *ngTemplateOutlet="leftContent"></ng-container>
  </div>
  <div class="right">
    <ng-container *ngTemplateOutlet="rightContent"></ng-container>
  </div>
</app-layout>

<router-outlet></router-outlet>
