.list {
  .header {
    width: 100%;
    margin-bottom: 10px;
  }
  .item-container {
    display: block;
    overflow-y: scroll;
    flex-direction: column;
    .collapse {
      min-height: 0px;
      max-height: 0px;
      transition: all 0.4s linear;
    }
    .noCollapse {
      min-height: 0px;
      max-height: 300px;
      transition: all 0.4s linear;
    }
  }
  .item {
    width: 100%;
  }
}
