<div class="layout-wrapper theme-1">
  <div
    class="layout-left"
    [ngClass]="{ 'layout-left': true, show: isShownLeft }"
  >
    <div class="right-wrapper">
      <ng-content select="div[class='left']"></ng-content>
    </div>
  </div>
  <div class="layout-center">
    <div class="header">
      <div class="menu-wrapper">
        <div class="status">
          <div (click)="leftMenuClicked.emit($event)">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
      <span class="dot"></span>
      {{ activeProject.name || "- no project available -" }}
      <div class="status right-menu-wrapper">
        <div (click)="rightMenuClicked.emit($event)">
          <i class="fas fa-cog"></i>
        </div>
      </div>
      <div class="status">
        <div (click)="clickStatus($event)">
          <i *ngIf="!annotation" class="fas fa-sign-in-alt"></i>
          <span *ngIf="annotation">{{ annotation }}</span>
        </div>
      </div>
    </div>
    <div class="body">
      <ng-content select="div[class='center']"></ng-content>
    </div>
  </div>
  <div [ngClass]="layoutRightClass">
    <div class="right-wrapper">
      <ng-content select="div[class='right']"></ng-content>
    </div>
  </div>
</div>
