<div class="modal">
  <div [ngClass]="modalClass" (click)="onclicked($event)">
    <div
      [ngClass]="{ 'modal-content': true, fill: isFill }"
      (click)="contentClick($event)"
    >
      <div style="position: relative;">
        <div class="loader-bar" *ngIf="isLoading">
          <div class="loader"></div>
        </div>
        <div class="modal-header">
          <span>{{ headerText }}</span
          ><ng-content select='div[class="close-btn"]'></ng-content>
        </div>
      </div>
      <div class="contnetWrapper">
        <ng-content select='div[class="content"]'></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select='div[class="footer"]'></ng-content>
      </div>
    </div>
  </div>
</div>
