@import "../../styles.scss";

.modal {
  .modal-back-lay {
    z-index: $modal-zindex;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.61);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      position: relative;
      width: 563px;
      padding: 20px;
      padding-top: 0px;
      background-color: $white;
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.3);
      border-radius: 10px;
      max-height: 90%;
      display: flex;
      flex-direction: column;
      .loader-bar {
        height: 5px;
        width: 100%;
        background-color: #ddd;
        position: absolute;
        top: 0px;
        overflow-x: hidden;
        left: 0px;
        .loader {
          width: 20%;
          height: 100%;
          background-color: var(--primary-color);
          animation-name: loader-anime;
          animation-timing-function: linear;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
      }
      .contnetWrapper {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
    .modal-content.fill {
      width: 80%;
    }
  }

  .modal-back-lay.hide {
    display: none;
  }
  .modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 18px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    app-button {
      position: relative;
      bottom: 5px;
    }
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    width: 100%;
    justify-content: flex-end;
  }
}

@keyframes loader-anime {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(550px);
  }
}
